.wrapper {    
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
body {
    /*background-color: #012129 !important;*/
}
/*.row {
    margin-right: 0px !important; 
    margin-left: 0px !important;
}*/
.progress{
	border: 1px solid #002b36;
}

.btn-info {
    color: #ffffff !important;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: #ffffff;
 }

 .progress {
    background-color: #062d36;
}

.dropdown-menu .divider {
    margin: 0 0;
}
.navProfit{
	background: #002b36;
    border-radius: 5px;
    border: 1px solid #185e5b;
    padding-left: 20px;
    padding-right: 20px;
    color: #11c0b7;
}
.navbar-brand > img {
    margin-top: -7px;
}
.goalProgress{
    width: 100px;
    margin-bottom: 0 !important;
}

.whiteFont {
    color: #ffffff !important;
}
.bootstrap-select{
    padding-left: 14px;
}
.userStatus{
    width: 38px !important;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #073642; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*.btn-default {
    color: #ffffff;
    background-color: #e2e7e9;
    border-color: #586e75;
}*/
.sidenavRight {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #073642;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
}

.sidenavRight a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenavRight a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenavRight .closebtnRight {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.chatWrapper{
    background: #ffffff;
    height: 86%;
    margin-left: 10px;
    width: 230px;
    overflow-y:scroll;
}
.chatMsgs{
    margin: 0;
    padding: 0;
}
.chatMsg {
    color: #000000;
    list-style-type: none;
    padding: 2px;
    background: #96cefa;
    margin: 3px;
    border-radius: 5px;
}
#chatText{
    margin-left: 10px;
    width: 230px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}
.chatUserName{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    padding-right: 2px;
}
.adminMsg{
    background: #fffb67 !important;
}
.adminMsg:before{
    font-family: FontAwesome;
    content: "\f067";
        padding-right: 2px;
}
.tab-content {
    margin-top: -16px !important;
    border: solid 1px #073642;
    padding: 15px;
    background: #002b36;
    margin-bottom: 10px !important;
}
.tabFooter{
    background: #073642;
    color: #00b3a8;
    padding: 10px;
    font-size: 12px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}


#meow-container {
    padding-left: 0px !important;
}

.navbar {
    margin-bottom: 2px !important;
}
/*.container {
    padding-left: 2px !important;
    padding-right: 5px !important;
}*/
.nav-tabs {
    background: #012129 !important; 
}

.statusBar{
    width: 200px;
    margin: auto;
    display: inline-block;
    float: right;
}

.localClock{
    border-top: 1px solid #083e4c;
    color: #839ba1;
    padding: 5px;
    border: 1px solid #002b36;
    width: 105px;
    background: #062d36;
    display: inline;
}
.selectionStatus {
    display: inline;
    margin-left: 5px;
    border: 1px solid #083e4c;
    color: #839ba1;
    padding: 5px;
    border: 1px solid #002b36;
    width: auto;
    background: #062d36;
}